<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matrices</title>
</head>
<body>
    <h1>Matrices:</h1>
    <br/>
    <table>
        <tr><td>Matrix 1:</td><td th:each="row,iterStat : ${M1}"></td></tr>
    </table>
    <br/>
    <table>
        <tr><td>Matrix 2:</td><td th:each="row,iterStat : ${M2}"></td></tr>
    </table>
    <br/>
    
    <input type="submit" value="add" onclick="window.location='/add';" /> 
    <input type="submit" value="multiply" onclick="window.location='/mult';" /> 
    <input type="submit" value="add" onclick="window.location='/blockadd';" /> 
    <input type="submit" value="multiply" onclick="window.location='/blockmult';" /> 
    <br/>
    <br/>
    <input type="submit" value="go back" onclick="history.back();" />
</body>
</html>